{% extends "master.html" %}

{% block title %}Listado de Aprendices{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Listado de Aprendices</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Programa</th>
            </tr>
        </thead>
        <tbody>
            {% for apprentice in aprendices %}
            <tr>
                <td><a href="{% url 'aprendiz_detail' apprentice.document %}">{{ apprentice.document }}</a></td>
                <td>{{ apprentice.firstname }}</td>
                <td>{{ apprentice.lastname }}</td>
                <td>{{ apprentice.email }}</td>
                <td>{{ apprentice.phone }}</td>
                <td>{{ apprentice.program }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="mt-3">
        <a href="/" class="btn btn-secondary">Volver al Inicio</a>
    </div>
</div>
{% endblock %}